---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="h-screen flex flex-col items-center justify-center">
		<h1 class="text-3xl font-bold">Página no encontrada</h1>
        <a href="/">Volver a inicio</a>
	</main>
</Layout>